# Schema.sql

In [ ]:
CREATE TABLE Y201812 (
	tripduration integer NOT NULL,
	starttime varchar NOT NULL,
	stoptime varchar NOT NULL,
	startstationid varchar,
	startstationname varchar,
	startstationlat float NOT NULL,
	startstationlon float NOT NULL,
	endstationid varchar,
	endstationname varchar,
	endstationlat float NOT NULL,
	endstationlon float NOT NULL,
	bikeid integer NOT NULL,
	usertype varchar NOT NULL,
	birthyear integer NOT NULL,
	gender integer NOT NULL,
	
	PRIMARY KEY (starttime,bikeid)
);

In [ ]:
https://en.wikipedia.org/wiki/Citi_Bike
https://www.citibikenyc.com/system-data

Trip Duration (seconds)
Start Time and Date
Stop Time and Date
Start Station Name
End Station Name
Station ID
Station Lat/Long
Bike ID
User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)
Gender (Zero=unknown; 1=male; 2=female)
Year of Birth

# tableau

In [1]:
import numpy as np
import pandas as pd
import random

from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base

import datetime as dt

%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [3]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/nycbike')
connection = engine.connect()

In [11]:
# 0: Dec, 1: Jan, ... , 11: Nov
dfs = []

i = 0
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201812',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201901',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201902',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201903',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201904',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201905',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201906',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201907',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201908',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201909',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201910',connection))
i= i+1
print(f"processing {i}")
dfs.append(pd.read_sql_query('SELECT * FROM y201911',connection))
print(f"Length of dfs: {len(dfs)}")

processing 0
processing 1
processing 2
processing 3
processing 4
processing 5
processing 6
processing 7
processing 8
processing 9
processing 10
processing 11
Length of dfs: 12

In [12]:
for i in range(12):
    print(f"processing {i}")
    dfs[i] = dfs[i].dropna(how='any')

processing 0
processing 1
processing 2
processing 3
processing 4
processing 5
processing 6
processing 7
processing 8
processing 9
processing 10
processing 11

In [14]:
stationids = []
for i in range(12):
    print(f"processing {i}")
    dfs[i] = dfs[i].dropna(how='any')

len(dfs[0]['startstationid'].unique())

762

In [20]:
# test = dfs[0]['startstationname'].unique()
test.unique()

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [16]:
len(dfs[0]['endstationid'].unique())

767

In [17]:
len(dfs[0]['endstationname'].unique())

767

In [2]:
from pygeocoder import Geocoder
import pandas as pd
import numpy as np

In [3]:
# Create a dictionary of raw data
data = {'Site 1': '31.336968, -109.560959',
        'Site 2': '31.347745, -108.229963',
        'Site 3': '32.277621, -107.734724',
        'Site 4': '31.655494, -106.420484',
        'Site 5': '30.295053, -104.014528'}

In [4]:
# Convert the dictionary into a pandas dataframe
df = pd.DataFrame.from_dict(data, orient='index')

In [5]:
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in df[0]:
    # Try to,
    try:
        # Split the row by comma, convert to float, and append
        # everything before the comma to lat
        lat.append(float(row.split(',')[0]))
        # Split the row by comma, convert to float, and append
        # everything after the comma to lon
        lon.append(float(row.split(',')[1]))
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
df['latitude'] = lat
df['longitude'] = lon

In [6]:
df.head()

                             0   latitude   longitude
Site 1  31.336968, -109.560959  31.336968 -109.560959
Site 2  31.347745, -108.229963  31.347745 -108.229963
Site 3  32.277621, -107.734724  32.277621 -107.734724
Site 4  31.655494, -106.420484  31.655494 -106.420484
Site 5  30.295053, -104.014528  30.295053 -104.014528

In [8]:
# Convert longitude and latitude to a location
results = Geocoder.reverse_geocode(df['latitude'][0], df['longitude'][0])

GeocoderError: Error REQUEST_DENIED
Query: https://maps.google.com/maps/api/geocode/json?latlng=31.336968%2C-109.560959&sensor=false&bounds=&region=&language=