# Schema.sql

In [ ]:
CREATE TABLE Y201812 (
	tripduration integer NOT NULL,
	starttime varchar NOT NULL,
	stoptime varchar NOT NULL,
	startstationid varchar,
	startstationname varchar,
	startstationlat float NOT NULL,
	startstationlon float NOT NULL,
	endstationid varchar,
	endstationname varchar,
	endstationlat float NOT NULL,
	endstationlon float NOT NULL,
	bikeid integer NOT NULL,
	usertype varchar NOT NULL,
	birthyear integer NOT NULL,
	gender integer NOT NULL,
	
	PRIMARY KEY (starttime,bikeid)
);

In [ ]:
https://en.wikipedia.org/wiki/Citi_Bike
https://www.citibikenyc.com/system-data

Trip Duration (seconds)
Start Time and Date
Stop Time and Date
Start Station Name
End Station Name
Station ID
Station Lat/Long
Bike ID
User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)
Gender (Zero=unknown; 1=male; 2=female)
Year of Birth

# tableau

In [1]:
import numpy as np
import pandas as pd
import random

from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base

import datetime as dt

%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

from math import sin, cos, sqrt, atan2, radians

def latlonToMiles(onerow):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(onerow["startstationlat"])
    lon1 = radians(onerow["startstationlon"])
    lat2 = radians(onerow["endstationlat"])
    lon2 = radians(onerow["endstationlon"])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c  * 0.621371
#     0.621371: km --> mi
    
    return distance

In [2]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/nycbike')
connection = engine.connect()

In [3]:
nmonths = 12;
agelimit = 100

# querystr = ['SELECT * FROM JC201910',SELECT * FROM JC201911']

querystr = ['SELECT * FROM y201812','SELECT * FROM y201901','SELECT * FROM y201902'\
           ,'SELECT * FROM y201903','SELECT * FROM y201904','SELECT * FROM y201905'\
           ,'SELECT * FROM y201906','SELECT * FROM y201907','SELECT * FROM y201908'\
           ,'SELECT * FROM y201909','SELECT * FROM y201910','SELECT * FROM y201911']

monthstr = ['2018-12','2019-01','2019-02','2019-03','2019-04','2019-05'\
           ,'2019-06','2019-07','2019-08','2019-09','2019-10','2019-11']

dfs = []
i = 0
for i in range(nmonths):
    print(f"\nReading for {i}")
    df = pd.read_sql_query(querystr[i],connection)
    
    print("Dropping null entry")
    df = df.dropna(how='any')
    
    print("Adding age")
    df["age"] = 2019 - df["birthyear"]

    print("Adding month,weekend,hour")
    montharr = []
    # weekdayarr = []
    weekendarr = []
    hourarr = []
    for datetimestr in df['starttime']:
        dtobj = dt.datetime.strptime(datetimestr, '%Y-%m-%d %H:%M:%S.%f')
#         montharr.append(dtobj.date().month)
    #     0: Monday - 6: Sunday
    #     weekdayarr.append(dtobj.date().weekday())
        montharr.append(monthstr[i])
        weekendarr.append(0 if (dtobj.date().weekday() < 5) else 1)
        hourarr.append(dtobj.time().hour)
        
    df["month"] = montharr
    # dfs[i]["weekday"] = weekdayarr
    df["weekend"] = weekendarr
    df["hour"] = hourarr
    
    print(f"Dropping entries with age greater than or equal to {agelimit}")
    df = df[df.age < agelimit]
    
    print("Adding travel distance...")
    distance = []
    for i in range(len(df)):
        distance.append(latlonToMiles(df.iloc[i]))
    df["distance"] = distance
    
    dfs.append(df)
    i= i+1
i = 0
print(f"\nLength of dfs: {len(dfs)}")

Reading for 0
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 1
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 2
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 3
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 4
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 5
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 6
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 7
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 8
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 9
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 10
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Reading for 11
Dropping null entry
Adding age
Adding month,weekend,hour
Dropping entries with age greater than or equal to 100
Adding travel distance...

Length of dfs: 12

In [4]:
dfs[i].head()

,tripduration,starttime,stoptime,startstationid,startstationname,startstationlat,startstationlon,endstationid,endstationname,endstationlat,endstationlon,bikeid,usertype,birthyear,gender,age,month,weekend,hour,distance
0,689,2018-12-01 00:00:04.3020,2018-12-01 00:11:33.8460,3359,E 68 St & Madison Ave,40.769157,-73.967035,164,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1,30,2018 Dec,1,0,1.114138
1,204,2018-12-01 00:00:05.5330,2018-12-01 00:03:30.5230,3504,E 123 St & Lexington Ave,40.802926,-73.937900,3490,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1,53,2018 Dec,1,0,0.419294
2,316,2018-12-01 00:00:10.2330,2018-12-01 00:05:27.2030,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,243,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1,35,2018 Dec,1,0,0.520578
3,726,2018-12-01 00:00:21.9570,2018-12-01 00:12:28.1830,495,W 47 St & 10 Ave,40.762699,-73.993012,3660,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1,36,2018 Dec,1,0,1.561044
4,397,2018-12-01 00:00:29.6320,2018-12-01 00:07:07.4460,473,Rivington St & Chrystie St,40.721101,-73.991925,3467,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1,43,2018 Dec,1,0,0.574965

# Trip Summary

In [5]:
for i in range(nmonths):
    print(f"\nProcessing for {i}")
    grouped = dfs[i].groupby(['month','usertype','gender','age','weekend','hour'])
    tempdf = pd.DataFrame({'Average Trip Duration(min)':grouped['tripduration'].mean()/60.\
                        ,'Average Trip Distance(mi)':grouped['distance'].mean()\
                        ,'Count':grouped['distance'].count() })
    if i == 0:
        tosave = tempdf
    else:
        tosave = tosave.append(tempdf)
        
tosave['Average Trip Duration(min)'] = tosave['Average Trip Duration(min)'].map('{:,.2f}'.format)
tosave['Average Trip Distance(mi)'] = tosave['Average Trip Distance(mi)'].map('{:,.2f}'.format)
tosave.reset_index(inplace=True)
tosave.to_csv("tripsummary.csv", index=False, header=True)
tosave.head()

,month,usertype,gender,age,weekend,hour,Average Trip Duration(min),Average Trip Distance(mi),Count
0,2018 Dec,Customer,0,17,1,14,8.85,0.50,5
1,2018 Dec,Customer,0,18,0,9,74.18,4.39,1
2,2018 Dec,Customer,0,18,0,13,105.97,0.27,1
3,2018 Dec,Customer,0,18,1,15,37.40,0.66,1
4,2018 Dec,Customer,0,19,0,22,25.90,1.22,1

# Bike Usage

In [6]:
for i in range(nmonths):
    print(f"\nProcessing for {i}")
    grouped = dfs[i].groupby(['month','bikeid','weekend'])
    tempdf = pd.DataFrame({'Average Trip Distance(mi)':grouped['distance'].mean()\
                           ,'Count':grouped['distance'].count() })
    if i == 0:
        tosave = tempdf
    else:
        tosave = tosave.append(tempdf)
        
tosave.reset_index(inplace=True)
tosave.to_csv("bikeusage.csv", index=False, header=True)
tosave.head()

Processing for 0

Processing for 1

Processing for 2

Processing for 3

Processing for 4

Processing for 5

Processing for 6

Processing for 7

Processing for 8

Processing for 9

Processing for 10

Processing for 11

      month  bikeid  weekend  Average Trip Distance(mi)  Count
0  2018 Dec   14529        0                   0.796611     40
1  2018 Dec   14529        1                   0.963521     12
2  2018 Dec   14530        0                   0.888065     25
3  2018 Dec   14530        1                   0.515022     15
4  2018 Dec   14531        0                   0.939041     49

# Station Specific

In [7]:
for i in range(nmonths):
    print(f"\nProcessing for {i}")
    grouped = dfs[i].groupby(['month','startstationid','startstationname','endstationid','endstationname'\
                              ,'weekend','hour','usertype','gender','age'])
    tempdf = pd.DataFrame({'startstationlat':grouped['startstationlat'].median()\
                           ,'startstationlon':grouped['startstationlon'].median()\
                           ,'endstationlat':grouped['endstationlat'].median()\
                           ,'endstationlon':grouped['endstationlon'].median()\
                           ,'Average Trip Duration(min)':grouped['tripduration'].mean()/60.\
                           ,'Average Trip Distance(mi)':grouped['distance'].mean()\
                        ,'Count':grouped['distance'].count() })
    if i == 0:
        tosave = tempdf
    else:
        tosave = tosave.append(tempdf)
        
tosave['Average Trip Duration(min)'] = tosave['Average Trip Duration(min)'].map('{:,.2f}'.format)
tosave['Average Trip Distance(mi)'] = tosave['Average Trip Distance(mi)'].map('{:,.2f}'.format)
tosave.reset_index(inplace=True)
tosave.to_csv("stationsummary.csv", index=False, header=True)
tosave.head()

Processing for 0

Processing for 1

Processing for 2

Processing for 3

Processing for 4

Processing for 5

Processing for 6

Processing for 7

Processing for 8

Processing for 9

Processing for 10

Processing for 11

,month,startstationid,startstationname,endstationid,endstationname,weekend,hour,usertype,gender,age,startstationlat,startstationlon,endstationlat,endstationlon,Average Trip Duration(min),Average Trip Distance(mi),Count
0,2018 Dec,119,Park Ave & St Edwards St,119,Park Ave & St Edwards St,0,17,Subscriber,1,36,40.696089,-73.978034,40.696089,-73.978034,20.83,0.00,1
1,2018 Dec,119,Park Ave & St Edwards St,119,Park Ave & St Edwards St,0,17,Subscriber,2,31,40.696089,-73.978034,40.696089,-73.978034,29.40,0.00,3
2,2018 Dec,119,Park Ave & St Edwards St,144,Nassau St & Navy St,0,6,Customer,1,33,40.696089,-73.978034,40.698399,-73.980689,1.89,0.21,8
3,2018 Dec,119,Park Ave & St Edwards St,144,Nassau St & Navy St,0,12,Subscriber,1,36,40.696089,-73.978034,40.698399,-73.980689,2.80,0.21,1
4,2018 Dec,119,Park Ave & St Edwards St,144,Nassau St & Navy St,1,1,Customer,0,50,40.696089,-73.978034,40.698399,-73.980689,6.77,0.21,1

# Reduce Stationsummary

In [1]:
import pandas as pd

In [2]:
stationsummary = pd.read_csv("resources/Data-Backup/stationsummary.csv")

In [3]:
stationsummary.head()

,month,startstationid,startstationname,endstationid,endstationname,weekend,hour,usertype,gender,age,startstationlat,startstationlon,endstationlat,endstationlon,Average Trip Duration(min),Average Trip Distance(mi),Count
0,2018 Dec,119,Park Ave & St Edwards St,119,Park Ave & St Edwards St,0,17,Subscriber,1,36,40.696089,-73.978034,40.696089,-73.978034,20.83,0.00,1
1,2018 Dec,119,Park Ave & St Edwards St,119,Park Ave & St Edwards St,0,17,Subscriber,2,31,40.696089,-73.978034,40.696089,-73.978034,29.40,0.00,3
2,2018 Dec,119,Park Ave & St Edwards St,144,Nassau St & Navy St,0,6,Customer,1,33,40.696089,-73.978034,40.698399,-73.980689,1.89,0.21,8
3,2018 Dec,119,Park Ave & St Edwards St,144,Nassau St & Navy St,0,12,Subscriber,1,36,40.696089,-73.978034,40.698399,-73.980689,2.80,0.21,1
4,2018 Dec,119,Park Ave & St Edwards St,144,Nassau St & Navy St,1,1,Customer,0,50,40.696089,-73.978034,40.698399,-73.980689,6.77,0.21,1

In [6]:
grouped = stationsummary.groupby(['month','startstationid','startstationname','weekend','hour','usertype'])
tosave = pd.DataFrame({'latitude':grouped['startstationlat'].median()\
                       ,'longitude':grouped['startstationlon'].median()\
                       ,'Average Trip Distance(mi)':grouped['Average Trip Distance(mi)'].mean()\
                       ,'Count':grouped['Count'].sum() })

tosave['Average Trip Distance(mi)'] = tosave['Average Trip Distance(mi)'].map('{:,.2f}'.format)
tosave.reset_index(inplace=True)
tosave.to_csv("resources/extracted/startstationsummary.csv", index=False, header=True)
tosave.head()

,month,startstationid,startstationname,weekend,hour,usertype,latitude,longitude,Average Trip Distance(mi),Count
0,2018 Dec,72,W 52 St & 11 Ave,0,0,Subscriber,40.767272,-73.993929,0.82,24
1,2018 Dec,72,W 52 St & 11 Ave,0,1,Subscriber,40.767272,-73.993929,0.81,10
2,2018 Dec,72,W 52 St & 11 Ave,0,2,Customer,40.767272,-73.993929,0.00,1
3,2018 Dec,72,W 52 St & 11 Ave,0,2,Subscriber,40.767272,-73.993929,2.94,1
4,2018 Dec,72,W 52 St & 11 Ave,0,3,Subscriber,40.767272,-73.993929,0.65,2

In [4]:
grouped = stationsummary.groupby(['month','endstationid','endstationname','weekend','hour','usertype'])
tosave = pd.DataFrame({'latitude':grouped['endstationlat'].median()\
                       ,'longitude':grouped['endstationlon'].median()\
                       ,'Average Trip Distance(mi)':grouped['Average Trip Distance(mi)'].mean()\
                       ,'Count':grouped['Count'].sum() })

tosave['Average Trip Distance(mi)'] = tosave['Average Trip Distance(mi)'].map('{:,.2f}'.format)
tosave.reset_index(inplace=True)
tosave.to_csv("resources/extracted/endstationsummary.csv", index=False, header=True)
tosave.head()

,month,endstationid,endstationname,weekend,hour,usertype,latitude,longitude,Average Trip Distance(mi),Count
0,2018 Dec,72,W 52 St & 11 Ave,0,0,Subscriber,40.767272,-73.993929,1.09,15
1,2018 Dec,72,W 52 St & 11 Ave,0,1,Customer,40.767272,-73.993929,0.32,1
2,2018 Dec,72,W 52 St & 11 Ave,0,1,Subscriber,40.767272,-73.993929,0.96,4
3,2018 Dec,72,W 52 St & 11 Ave,0,2,Customer,40.767272,-73.993929,0.00,1
4,2018 Dec,72,W 52 St & 11 Ave,0,2,Subscriber,40.767272,-73.993929,0.79,3